# Mean Imputation

In [71]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

%matplotlib inline
%cd D:\CSU Global Data Analytics\MIS510 Python\DMBA-Python-datasets

D:\CSU Global Data Analytics\MIS510 Python\DMBA-Python-datasets

In [95]:
df = pd.read_csv('Cereals.csv')

In [76]:
df.isnull().sum()

name        0
mfr         0
type        0
calories    0
protein     0
fat         0
sodium      0
fiber       0
carbo       1
sugars      1
potass      2
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

In [96]:
df=df.fillna(df.mean())

In [ ]:
imputer = imputer.fit(df)

In [78]:
df.isnull().sum()

name        0
mfr         0
type        0
calories    0
protein     0
fat         0
sodium      0
fiber       0
carbo       0
sugars      0
potass      0
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

# Median Imputation

In [83]:
import pandas as pd
import numpy as np
import sklearn.preprocessing
from sklearn.impute import SimpleImputer

%matplotlib inline
%cd D:\CSU Global Data Analytics\MIS510 Python\DMBA-Python-datasets

D:\CSU Global Data Analytics\MIS510 Python\DMBA-Python-datasets

In [391]:
df = pd.read_csv('Cereals.csv')

In [392]:
df.isnull().sum()

name        0
mfr         0
type        0
calories    0
protein     0
fat         0
sodium      0
fiber       0
carbo       1
sugars      1
potass      2
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

In [393]:
# Train the imputor on the df dataset
df=df.fillna(df.median())

In [394]:
df.isnull().sum()

name        0
mfr         0
type        0
calories    0
protein     0
fat         0
sodium      0
fiber       0
carbo       0
sugars      0
potass      0
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

# Mode Imputation

In [450]:
import pandas as pd
import numpy as np
import impyute as ip

%matplotlib inline
%cd D:\CSU Global Data Analytics\MIS510 Python\DMBA-Python-datasets

D:\CSU Global Data Analytics\MIS510 Python\DMBA-Python-datasets

In [451]:
df = pd.read_csv('Cereals.csv')

In [425]:
df.isnull().sum()

name        0
mfr         0
type        0
calories    0
protein     0
fat         0
sodium      0
fiber       0
carbo       1
sugars      1
potass      2
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

In [426]:
df.columns

Index(['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')

In [427]:
df1 = df[['name', 'mfr', 'type']]

In [428]:
df2 = df[['calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating']]

In [429]:
df2 = df2.astype(float)

In [430]:
# Train the imputor on the df dataset
df2 = ip.imputation.cs.mode(df2)

In [431]:
df2

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,70.0,4.0,1.0,130.0,10.0,5.0,6.0,280.0,25.0,3.0,1.0,0.33,68.402973
1,120.0,3.0,5.0,15.0,2.0,8.0,8.0,135.0,0.0,3.0,1.0,1.00,33.983679
2,70.0,4.0,1.0,260.0,9.0,7.0,5.0,320.0,25.0,3.0,1.0,0.33,59.425505
3,50.0,4.0,0.0,140.0,14.0,8.0,0.0,330.0,25.0,3.0,1.0,0.50,93.704912
4,110.0,2.0,2.0,200.0,1.0,14.0,8.0,90.0,25.0,3.0,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,110.0,2.0,1.0,250.0,0.0,21.0,3.0,60.0,25.0,3.0,1.0,0.75,39.106174
73,110.0,1.0,1.0,140.0,0.0,13.0,12.0,25.0,25.0,2.0,1.0,1.00,27.753301
74,100.0,3.0,1.0,230.0,3.0,17.0,3.0,115.0,25.0,1.0,1.0,0.67,49.787445
75,100.0,3.0,1.0,200.0,3.0,17.0,3.0,110.0,25.0,1.0,1.0,1.00,51.592193
76,110.0,2.0,1.0,200.0,1.0,16.0,8.0,60.0,25.0,1.0,1.0,0.75,36.187559

In [432]:
df2.index

RangeIndex(start=0, stop=77, step=1)

In [433]:
df = pd.concat([df1,df2], axis=1)

In [435]:
df.columns = ['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating']

In [436]:
df.isnull().sum()

name        0
mfr         0
type        0
calories    0
protein     0
fat         0
sodium      0
fiber       0
carbo       0
sugars      0
potass      0
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

# KNN Imputation

In [452]:
import pandas as pd
import numpy as np
import impyute as ip

%matplotlib inline
%cd D:\CSU Global Data Analytics\MIS510 Python\DMBA-Python-datasets

D:\CSU Global Data Analytics\MIS510 Python\DMBA-Python-datasets

In [515]:
df = pd.read_csv('Cereals.csv')

In [516]:
df.isnull().sum()

name        0
mfr         0
type        0
calories    0
protein     0
fat         0
sodium      0
fiber       0
carbo       1
sugars      1
potass      2
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

In [517]:
df.columns

Index(['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')

In [518]:
df1 = df[['name', 'mfr', 'type']]

In [519]:
df2 = df[['calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating']]

In [520]:
df2 = df2.astype(float)

In [521]:
# Train the imputor on the df dataset
df2 = ip.imputation.cs.fast_knn(df2)

In [523]:
df2

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,70.0,4.0,1.0,130.0,10.0,5.0,6.0,280.000000,25.0,3.0,1.0,0.33,68.402973
1,120.0,3.0,5.0,15.0,2.0,8.0,8.0,135.000000,0.0,3.0,1.0,1.00,33.983679
2,70.0,4.0,1.0,260.0,9.0,7.0,5.0,320.000000,25.0,3.0,1.0,0.33,59.425505
3,50.0,4.0,0.0,140.0,14.0,8.0,0.0,330.000000,25.0,3.0,1.0,0.50,93.704912
4,110.0,2.0,2.0,200.0,1.0,14.0,8.0,78.908448,25.0,3.0,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,110.0,2.0,1.0,250.0,0.0,21.0,3.0,60.000000,25.0,3.0,1.0,0.75,39.106174
73,110.0,1.0,1.0,140.0,0.0,13.0,12.0,25.000000,25.0,2.0,1.0,1.00,27.753301
74,100.0,3.0,1.0,230.0,3.0,17.0,3.0,115.000000,25.0,1.0,1.0,0.67,49.787445
75,100.0,3.0,1.0,200.0,3.0,17.0,3.0,110.000000,25.0,1.0,1.0,1.00,51.592193
76,110.0,2.0,1.0,200.0,1.0,16.0,8.0,60.000000,25.0,1.0,1.0,0.75,36.187559

In [524]:
df = pd.concat([df1,df2], axis=1)

In [525]:
df.columns = ['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating']

In [526]:
df.isnull().sum()

name        0
mfr         0
type        0
calories    0
protein     0
fat         0
sodium      0
fiber       0
carbo       0
sugars      0
potass      0
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

# Multiple Imputation

In [1]:
import pandas as pd
import numpy as np
import impyute as ip

%matplotlib inline
%cd D:\CSU Global Data Analytics\MIS510 Python\DMBA-Python-datasets

D:\CSU Global Data Analytics\MIS510 Python\DMBA-Python-datasets

In [2]:
df = pd.read_csv('Cereals.csv')

In [3]:
df.isnull().sum()

name        0
mfr         0
type        0
calories    0
protein     0
fat         0
sodium      0
fiber       0
carbo       1
sugars      1
potass      2
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

In [4]:
df.columns

Index(['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')

In [5]:
df1 = df[['name', 'mfr', 'type']]

In [6]:
df2 = df[['calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating']]

In [7]:
df2 = df2.astype(float)

In [11]:
# Train the imputor on the df dataset
df2 = ip.imputation.cs.mice(df2)

C:\Users\LaoTz\Anaconda3\lib\site-packages\impyute\util\preprocess.py:52: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  args[0] = args[0].as_matrix()

In [13]:
df2

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,70.0,4.0,1.0,130.0,10.0,5.0,6.0,280.000000,25.0,3.0,1.0,0.33,68.402973
1,120.0,3.0,5.0,15.0,2.0,8.0,8.0,135.000000,0.0,3.0,1.0,1.00,33.983679
2,70.0,4.0,1.0,260.0,9.0,7.0,5.0,320.000000,25.0,3.0,1.0,0.33,59.425505
3,50.0,4.0,0.0,140.0,14.0,8.0,0.0,330.000000,25.0,3.0,1.0,0.50,93.704912
4,110.0,2.0,2.0,200.0,1.0,14.0,8.0,-0.910057,25.0,3.0,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,110.0,2.0,1.0,250.0,0.0,21.0,3.0,60.000000,25.0,3.0,1.0,0.75,39.106174
73,110.0,1.0,1.0,140.0,0.0,13.0,12.0,25.000000,25.0,2.0,1.0,1.00,27.753301
74,100.0,3.0,1.0,230.0,3.0,17.0,3.0,115.000000,25.0,1.0,1.0,0.67,49.787445
75,100.0,3.0,1.0,200.0,3.0,17.0,3.0,110.000000,25.0,1.0,1.0,1.00,51.592193
76,110.0,2.0,1.0,200.0,1.0,16.0,8.0,60.000000,25.0,1.0,1.0,0.75,36.187559

In [15]:
df = pd.concat([df1,df2], axis=1)

In [16]:
df.columns = ['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating']

In [17]:
df.isnull().sum()

name        0
mfr         0
type        0
calories    0
protein     0
fat         0
sodium      0
fiber       0
carbo       0
sugars      0
potass      0
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64